#itemImg {
width: 400px;
height: 400px;
}
#itemName {

    
}
#itemRoast {
    
}
#itemDetails {
padding-right: 40px;
}

#itemPrice {
    
}

.ItemPage {
    display: flex;
    height: 92vh;
    width: 100vw;
    padding: 60px 40px;
    background: var(--white);
    position: relative;
}

.ItemPage_ItemDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
position: relative;
padding: 0 40px;
}

.ItemPage_addButton {
    width: 200px;
}

@media screen and (max-width: 800px) {
    .ItemPage {
        flex-direction: column;
    }


    #itemImg {
        width: 200px;
        height: 200px;
        }

        .ItemPage_ItemDetails {
        padding: 0 10px;
        margin: 0;
        }

 
}

@media screen and (max-width: 680px) {

.ItemPage_ItemDetails >*  {
    margin: 10px 0;
    }

}