.container {
  width: 100%;
height: 500px;
  background: #f8f8f8;
  position: relative;
}

.slick-slide img {
    margin: auto;
  }

  #slidePicture {
    width: 99%;
    height: 500px;
    object-fit: cover;
    box-shadow: none;
  }

  #slideContainer {
    position: relative;

  }

  #slidePictureMain {
    width: 100%;
    min-height: 500px;
    box-shadow: none;
  }

  #slideBanner {
    position: absolute;
    bottom: 130px;
    right: 120px;
    color: white;
    font-size: 68px;
    text-shadow: var(--shadow);
  }

  #Background{
    background: #F6F6F6;
    width: 100%;
    min-height: 500px;
  }